/*Color*/
:root {
    --primary-color: #66fcf1;
    --secondary-color: #45a29e;
    --tertiary-color: #c5c6c7;
}
/*Font (SUPER COOL!!!!!)*/
@font-face {
    font-family: '8BIT WONDER Nominal';
    font-style: normal;
    font-weight: normal;
    src: local('8BIT WONDER Nominal'), url('8-BIT WONDER.woff') format('woff');
    }
/*Applied to everything*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/*Body*/
body{
    font-family: '8BIT WONDER Nominal', Arial, Helvetica, sans-serif; 
    background-color: #1f2833;
    color: var(--tertiary-color);
    font-size: 22px;
}
section {
    padding: 100px;
}

.content {
    padding: 20px 125px;
    text-align: center;
    line-height: 2em;
    text-align: center;
}
.section-title {
    font-size: 50px;
    width: 50%;
    padding-bottom: 35px;
    border-bottom: solid 3px var(--primary-color);
    margin: 0 auto 70px auto;
    text-align: center;
}
.flex-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*End Body*/

/*Header*/
header {
    background-color: #1f2833 ;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    display: flex;
    margin: 0;
}

h1 a{
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

header nav {
    
    margin: 7px 0;
    display: flex;
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
header nav ul li {
    text-decoration: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
    text-decoration: none;
    color: var(--primary-color);
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}
/*End Hero*/

/*Hero*/
.hero {
    width: 100%;
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    margin: 100px 0;
}

.avatar {
    width: 100%;
    text-align: center;
}
.avatar img {
    height: 200px;
}

.blink {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/*End Hero*/

/*Begin About*/
/*End About*/

/*Begin Work*/

.work-row{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 article{
     width: 50%;
     height: 500px;
     flex: 1;
     border: solid 2px var(--primary-color);
     margin: 20px 50px;
     padding: 50px;
     display: block;
 }
 article a{
     text-decoration: none;
     text-stroke: 12px black;
 }
 article a:hover{
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
 }

 .bigger{
     flex-basis: 75%;
 }
 article h3{
     font-size: 45px;
     text-align: center;
     margin: 0 auto;
     color: var(--primary-color);
 }

 .run-buddy {
     background-image: url("../assets/images/run-buddy-clip.png");
     background-position: center;
     opacity: .5;
     background-size: cover; 
    }

.fighting-robots{
    background-image: url(../assets/images/fighting-robots.png);
    background-position: center;
    opacity: .5;
    background-size: cover;
}

.tbd{
    background-image: url(../assets/images/tbd.png);
    background-position: center;
    opacity: .5;
    background-size: cover;
}

.run-buddy:hover, .fighting-robots:hover, .tbd:hover {
    opacity: 1;
}

/*End Work*/

/*Begin Contact*/
#contact ul {
    text-align: center;
    }

#contact ul li {
    margin: 50px;
    list-style: none;
     color: var(--primary-color);
}
#contact a {
    color: var(--primary-color);
    text-decoration: none;
}

#contact a:hover {
    color: var(--tertiary-color);
}
/*End Contact*/

/*Media queries for smaller screens and phones*/
@media screen and (max-width: 980px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }
 
    header h1 {
        width: 100%;
        text-align: center;
    }
 }
 
 @media screen and (max-width: 768px) {
     section {
         padding: 0;
         text-overflow: none;
         margin: 0%;
     }
 header nav ul li a{
     font-size: 30px;
 }
 h1 a{
     margin: 20ps auto;
 }
     
 }
 
 @media screen and (max-width: 575px) {
body{
    margin: 0;
    padding:0;
    width: 100%;
    display: inherit;
}
    .header{
        padding: 0;
    }
    .header nav{
        height: 100px;;
    }
    .content{
        padding: 0 10px;
        margin-bottom: 30px;;
    }
article, .bigger{
    flex: 0 100%;
    padding: 0;
    margin: 0 0 30px 0;
}
article h3{
    font-size: 35px;
    text-overflow: none;
}
.section-title{
    width: 100%;
    line-height: 70px;
}

h1 a{
    margin: 20ps auto;
}
header nav ul{
    display: block;

}
header nav ul li {
    margin: 20px 0;
}
#contact ul li {
    font-size: 12px;
}
